NID "urn" shoud not be allowed

According to RFC 2141, section 2.1, the NID "urn" is not allowed:
"To avoid confusion with the "urn:" identifier, the NID "urn" is reserved and MUST NOT be used."
