URNs not lexically equivalent

Sample URNs from specification (RFC 2141, section 6) are not lexically equivalent to each other. Partly this is because of issue #7.


@yegor256 please pay attention to this issue