NID allowes uppercase letters and numbers.

According to RFC 2141, section 2.1, upper-case letters, lower-case letters and numbers are allowed for NID:

`<let-num>     ::= <upper> | <lower> | <number>`

"Further, the Namespace Identifier is case insensitive, so that "ISBN" and "isbn" refer to the same namespace."


@yegor256 please do something about this issue