Leading URN prefix is not case-insensitive

RFC 2141, section 2 states: "The leading "urn:" sequence is case-insensitive."

However, the URN "URN:a" fails the test `passesCorrectURNSyntax()`.
